body {
    font-family: sans-serif;
    font-size: 14px;
}

.flex {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.flex * {
    margin: 3px 0px;    
}

.flex-col {
    display: flex;
    flex-direction: column;
}

#add-row {
    width: 30%;
}

#upload {
    align-items: center;
    margin-bottom: 5px;
}