{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}

<!-- Upload a chart -->
<form method="POST" enctype="multipart/form-data" action="/">
    <input type="file" id="myFile" name="uploaded-file" accept=".json">
    <input type="submit" name="upload_file" value="Upload file">
</form>

<div class="???" id="row-container">
    </div>

<button id="add-row">Add Row</button>

<script src="{{ url_for('static', filename='javascript/main.js') }}"></script>

<form method="POST" action="/">
    <input type="submit" name="create_chart" value="Create chart">
</form>

<!-- Display the chart -->
{% if file_url %}
    <img src="{{ file_url }}">
{% endif %}

{% endblock %}